[Unit]
Description=FastAPI app
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/nlp/fastapi/C4_DB/
Environment="PYTHONPATH=/root/nlp/fastapi"
ExecStart=/root/.pyenv/shims/gunicorn -c gunicorn_conf.py main:app

[Install]
WantedBy=multi-user.target
